html{
  --container-mx-xs: 0;
  --container-mx-sm: 5%;
  --container-mx-md: 10%;
  --container-mx-lg: 12%;


  --spacing-1: 3px;
  --spacing-2: 10px;
  --spacing-3: 20px;
  --spacing-4: 35px;
  --spacing-5: 60px;
}

/* ---- LAYOUT ---- */
.container {
  padding: 10px;
}

.container .row{
  display: flex;
  flex-wrap: wrap;
}

.row>*{
  width: 100%;
  padding: 0 10px;
  margin-left: 0;
}

/* cols */
.col{
  flex: 1 0 0%;
}
.col-1{
  flex: 0 0 calc(1/12 * 100%);
}
.col-2{
  flex: 0 0 calc(2/12 * 100%);
}
.col-3{
  flex: 0 0 calc(3/12 * 100%);
}
.col-4{
  flex: 0 0 calc(4/12 * 100%);
}
.col-5{
  flex: 0 0 calc(5/12 * 100%);
}
.col-6{
  flex: 0 0 calc(6/12 * 100%);
}
.col-7{
  flex: 0 0 calc(7/12 * 100%);
}
.col-8{
  flex: 0 0 calc(8/12 * 100%);
}
.col-9{
  flex: 0 0 calc(9/12 * 100%);
}
.col-10{
  flex: 0 0 calc(10/12 * 100%);
}
.col-11{
  flex: 0 0 calc(11/12 * 100%);
}

/* offset */
.offset-1{
  margin-left: calc(1/12 * 100%);
}
.offset-2{
  margin-left: calc(2/12 * 100%);
}
.offset-3{
  margin-left: calc(3/12 * 100%);
}
.offset-4{
  margin-left: calc(4/12 * 100%);
}
.offset-5{
  margin-left: calc(5/12 * 100%);
}
.offset-6{
  margin-left: calc(6/12 * 100%);
}
.offset-7{
  margin-left: calc(7/12 * 100%);
}
.offset-8{
  margin-left: calc(8/12 * 100%);
}
.offset-9{
  margin-left: calc(9/12 * 100%);
}
.offset-10{
  margin-left: calc(10/12 * 100%);
}
.offset-11{
  margin-left: calc(11/12 * 100%);
}

/* margins */
/* m-0 */
.m-0{
  margin: 0 !important;
}
.mt-0{
  margin-top: 0 !important;
}
.mb-0{
  margin-bottom: 0 !important;
}
.ms-0{
  margin-left: 0 !important;
}
.me-0{
  margin-right: 0 !important;
}
.mx-0{
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.my-0{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/* m-1 */
.m-1{
  margin: var(--spacing-1) !important;
}
.mt-1{
  margin-top: var(--spacing-1) !important;
}
.mb-1{
  margin-bottom: var(--spacing-1) !important;
}
.ms-1{
  margin-left: var(--spacing-1) !important;
}
.me-1{
  margin-right: var(--spacing-1) !important;
}
.mx-1{
  margin-right: var(--spacing-1) !important;
  margin-left: var(--spacing-1) !important;
}
.my-1{
  margin-top: var(--spacing-1) !important;
  margin-bottom: var(--spacing-1) !important;
}

/* m-2 */
.m-2{
  margin: var(--spacing-2) !important;
}
.mt-2{
  margin-top: var(--spacing-2) !important;
}
.mb-2{
  margin-bottom: var(--spacing-2) !important;
}
.ms-2{
  margin-left: var(--spacing-2) !important;
}
.me-2{
  margin-right: var(--spacing-2) !important;
}
.mx-2{
  margin-right: var(--spacing-2) !important;
  margin-left: var(--spacing-2) !important;
}
.my-2{
  margin-top: var(--spacing-2) !important;
  margin-bottom: var(--spacing-2) !important;
}

/* m-3 */
.m-3{
  margin: var(--spacing-3) !important;
}
.mt-3{
  margin-top: var(--spacing-3) !important;
}
.mb-3{
  margin-bottom: var(--spacing-3) !important;
}
.ms-3{
  margin-left: var(--spacing-3) !important;
}
.me-3{
  margin-right: var(--spacing-3) !important;
}
.mx-3{
  margin-right: var(--spacing-3) !important;
  margin-left: var(--spacing-3) !important;
}
.my-3{
  margin-top: var(--spacing-3) !important;
  margin-bottom: var(--spacing-3) !important;
}

/* m-4 */
.m-4{
  margin: var(--spacing-4) !important;
}
.mt-4{
  margin-top: var(--spacing-4) !important;
}
.mb-4{
  margin-bottom: var(--spacing-4) !important;
}
.ms-4{
  margin-left: var(--spacing-4) !important;
}
.me-4{
  margin-right: var(--spacing-4) !important;
}
.mx-4{
  margin-right: var(--spacing-4) !important;
  margin-left: var(--spacing-4) !important;
}
.my-4{
  margin-top: var(--spacing-4) !important;
  margin-bottom: var(--spacing-4) !important;
}

/* m-5 */
.m-5{
  margin: var(--spacing-5) !important;
}
.mt-5{
  margin-top: var(--spacing-5) !important;
}
.mb-5{
  margin-bottom: var(--spacing-5) !important;
}
.ms-5{
  margin-left: var(--spacing-5) !important;
}
.me-5{
  margin-right: var(--spacing-5) !important;
}
.mx-5{
  margin-right: var(--spacing-5) !important;
  margin-left: var(--spacing-5) !important;
}
.my-5{
  margin-top: var(--spacing-5) !important;
  margin-bottom: var(--spacing-5) !important;
}

/* display */
.d-none{
  display: none;
}
.d-block{
  display: block;
}
.d-inline{
  display: inline;
}
.d-flex{
  display: flex;
}

/* text-align */
.text-center{
  text-align: center;
}
.text-start{
  text-align: start;
}
.text-end{
  text-align: end;
}

/* ---- BREAKPOINTS ---- */
/* sm breakpoint */
@media (width >= 560px) {
  .container {
    margin: 0 var(--container-mx-sm);
  }

  /* cols */
  .col-sm{
    flex: 1 0 0%;
  }
  .col-sm-1{
    flex: 0 0 calc(1/12 * 100%);
  }
  .col-sm-2{
    flex: 0 0 calc(2/12 * 100%);
  }
  .col-sm-3{
    flex: 0 0 calc(3/12 * 100%);
  }
  .col-sm-4{
    flex: 0 0 calc(4/12 * 100%);
  }
  .col-sm-5{
    flex: 0 0 calc(5/12 * 100%);
  }
  .col-sm-6{
    flex: 0 0 calc(6/12 * 100%);
  }
  .col-sm-7{
    flex: 0 0 calc(7/12 * 100%);
  }
  .col-sm-8{
    flex: 0 0 calc(8/12 * 100%);
  }
  .col-sm-9{
    flex: 0 0 calc(9/12 * 100%);
  }
  .col-sm-10{
    flex: 0 0 calc(10/12 * 100%);
  }
  .col-sm-11{
    flex: 0 0 calc(11/12 * 100%);
  }

  /* offsets */
  .offset-sm-1{
    margin-left: calc(1/12 * 100%);
  }
  .offset-sm-2{
    margin-left: calc(2/12 * 100%);
  }
  .offset-sm-3{
    margin-left: calc(3/12 * 100%);
  }
  .offset-sm-4{
    margin-left: calc(4/12 * 100%);
  }
  .offset-sm-5{
    margin-left: calc(5/12 * 100%);
  }
  .offset-sm-6{
    margin-left: calc(6/12 * 100%);
  }
  .offset-sm-7{
    margin-left: calc(7/12 * 100%);
  }
  .offset-sm-8{
    margin-left: calc(8/12 * 100%);
  }
  .offset-sm-9{
    margin-left: calc(9/12 * 100%);
  }
  .offset-sm-10{
    margin-left: calc(10/12 * 100%);
  }
  .offset-sm-11{
    margin-left: calc(11/12 * 100%);
  }

  /* margins */
  /* m-0 */
  .m-sm-0{
    margin: 0 !important;
  }
  .mt-sm-0{
    margin-top: 0 !important;
  }
  .mb-sm-0{
    margin-bottom: 0 !important;
  }
  .ms-sm-0{
    margin-left: 0 !important;
  }
  .me-sm-0{
    margin-right: 0 !important;
  }
  .mx-sm-0{
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .my-sm-0{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  /* m-1 */
  .m-sm-1{
    margin: var(--spacing-1) !important;
  }
  .mt-sm-1{
    margin-top: var(--spacing-1) !important;
  }
  .mb-sm-1{
    margin-bottom: var(--spacing-1) !important;
  }
  .ms-sm-1{
    margin-left: var(--spacing-1) !important;
  }
  .me-sm-1{
    margin-right: var(--spacing-1) !important;
  }
  .mx-sm-1{
    margin-right: var(--spacing-1) !important;
    margin-left: var(--spacing-1) !important;
  }
  .my-sm-1{
    margin-top: var(--spacing-1) !important;
    margin-bottom: var(--spacing-1) !important;
  }

  /* m-2 */
  .m-sm-2{
    margin: var(--spacing-2) !important;
  }
  .mt-sm-2{
    margin-top: var(--spacing-2) !important;
  }
  .mb-sm-2{
    margin-bottom: var(--spacing-2) !important;
  }
  .ms-sm-2{
    margin-left: var(--spacing-2) !important;
  }
  .me-sm-2{
    margin-right: var(--spacing-2) !important;
  }
  .mx-sm-2{
    margin-right: var(--spacing-2) !important;
    margin-left: var(--spacing-2) !important;
  }
  .my-sm-2{
    margin-top: var(--spacing-2) !important;
    margin-bottom: var(--spacing-2) !important;
  }

  /* m-3 */
  .m-sm-3{
    margin: var(--spacing-3) !important;
  }
  .mt-sm-3{
    margin-top: var(--spacing-3) !important;
  }
  .mb-sm-3{
    margin-bottom: var(--spacing-3) !important;
  }
  .ms-sm-3{
    margin-left: var(--spacing-3) !important;
  }
  .me-sm-3{
    margin-right: var(--spacing-3) !important;
  }
  .mx-sm-3{
    margin-right: var(--spacing-3) !important;
    margin-left: var(--spacing-3) !important;
  }
  .my-sm-3{
    margin-top: var(--spacing-3) !important;
    margin-bottom: var(--spacing-3) !important;
  }

  /* m-4 */
  .m-sm-4{
    margin: var(--spacing-4) !important;
  }
  .mt-sm-4{
    margin-top: var(--spacing-4) !important;
  }
  .mb-sm-4{
    margin-bottom: var(--spacing-4) !important;
  }
  .ms-sm-4{
    margin-left: var(--spacing-4) !important;
  }
  .me-sm-4{
    margin-right: var(--spacing-4) !important;
  }
  .mx-sm-4{
    margin-right: var(--spacing-4) !important;
    margin-left: var(--spacing-4) !important;
  }
  .my-sm-4{
    margin-top: var(--spacing-4) !important;
    margin-bottom: var(--spacing-4) !important;
  }

  /* m-5 */
  .m-sm-5{
    margin: var(--spacing-5) !important;
  }
  .mt-sm-5{
    margin-top: var(--spacing-5) !important;
  }
  .mb-sm-5{
    margin-bottom: var(--spacing-5) !important;
  }
  .ms-sm-5{
    margin-left: var(--spacing-5) !important;
  }
  .me-sm-5{
    margin-right: var(--spacing-5) !important;
  }
  .mx-sm-5{
    margin-right: var(--spacing-5) !important;
    margin-left: var(--spacing-5) !important;
  }
  .my-sm-5{
    margin-top: var(--spacing-5) !important;
    margin-bottom: var(--spacing-5) !important;
  }

  /* display */
  .d-sm-none{
    display: none;
  }
  .d-sm-block{
    display: block;
  }
  .d-sm-inline{
    display: inline;
  }
  .d-sm-flex{
    display: flex;
  }

  /* text-align */
  .text-sm-end{
    text-align: end;
  }
  .text-sm-start{
    text-align: start;
  }
}

/* md breakpoint */
@media (width >= 769px) {
  .container {
    margin: 0 var(--container-mx-md);
  }

  /* cols */
  .col-md{
    flex: 1 0 0%;
  }
  .col-md-1{
    flex: 0 0 calc(1/12 * 100%);
  }
  .col-md-2{
    flex: 0 0 calc(2/12 * 100%);
  }
  .col-md-3{
    flex: 0 0 calc(3/12 * 100%);
  }
  .col-md-4{
    flex: 0 0 calc(4/12 * 100%);
  }
  .col-md-5{
    flex: 0 0 calc(5/12 * 100%);
  }
  .col-md-6{
    flex: 0 0 calc(6/12 * 100%);
  }
  .col-md-7{
    flex: 0 0 calc(7/12 * 100%);
  }
  .col-md-8{
    flex: 0 0 calc(8/12 * 100%);
  }
  .col-md-9{
    flex: 0 0 calc(9/12 * 100%);
  }
  .col-md-10{
    flex: 0 0 calc(10/12 * 100%);
  }
  .col-md-11{
    flex: 0 0 calc(11/12 * 100%);
  }

  /* offsets */
  .offset-md-1{
    margin-left: calc(1/12 * 100%);
  }
  .offset-md-2{
    margin-left: calc(2/12 * 100%);
  }
  .offset-md-3{
    margin-left: calc(3/12 * 100%);
  }
  .offset-md-4{
    margin-left: calc(4/12 * 100%);
  }
  .offset-md-5{
    margin-left: calc(5/12 * 100%);
  }
  .offset-md-6{
    margin-left: calc(6/12 * 100%);
  }
  .offset-md-7{
    margin-left: calc(7/12 * 100%);
  }
  .offset-md-8{
    margin-left: calc(8/12 * 100%);
  }
  .offset-md-9{
    margin-left: calc(9/12 * 100%);
  }
  .offset-md-10{
    margin-left: calc(10/12 * 100%);
  }
  .offset-md-11{
    margin-left: calc(11/12 * 100%);
  }

  /* margins */
  /* m-0 */
  .m-md-0{
    margin: 0 !important;
  }
  .mt-md-0{
    margin-top: 0 !important;
  }
  .mb-md-0{
    margin-bottom: 0 !important;
  }
  .ms-md-0{
    margin-left: 0 !important;
  }
  .me-md-0{
    margin-right: 0 !important;
  }
  .mx-md-0{
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .my-md-0{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  /* m-1 */
  .m-md-1{
    margin: var(--spacing-1) !important;
  }
  .mt-md-1{
    margin-top: var(--spacing-1) !important;
  }
  .mb-md-1{
    margin-bottom: var(--spacing-1) !important;
  }
  .ms-md-1{
    margin-left: var(--spacing-1) !important;
  }
  .me-md-1{
    margin-right: var(--spacing-1) !important;
  }
  .mx-md-1{
    margin-right: var(--spacing-1) !important;
    margin-left: var(--spacing-1) !important;
  }
  .my-md-1{
    margin-top: var(--spacing-1) !important;
    margin-bottom: var(--spacing-1) !important;
  }

  /* m-2 */
  .m-md-2{
    margin: var(--spacing-2) !important;
  }
  .mt-md-2{
    margin-top: var(--spacing-2) !important;
  }
  .mb-md-2{
    margin-bottom: var(--spacing-2) !important;
  }
  .ms-md-2{
    margin-left: var(--spacing-2) !important;
  }
  .me-md-2{
    margin-right: var(--spacing-2) !important;
  }
  .mx-md-2{
    margin-right: var(--spacing-2) !important;
    margin-left: var(--spacing-2) !important;
  }
  .my-md-2{
    margin-top: var(--spacing-2) !important;
    margin-bottom: var(--spacing-2) !important;
  }

  /* m-3 */
  .m-md-3{
    margin: var(--spacing-3) !important;
  }
  .mt-md-3{
    margin-top: var(--spacing-3) !important;
  }
  .mb-md-3{
    margin-bottom: var(--spacing-3) !important;
  }
  .ms-md-3{
    margin-left: var(--spacing-3) !important;
  }
  .me-md-3{
    margin-right: var(--spacing-3) !important;
  }
  .mx-md-3{
    margin-right: var(--spacing-3) !important;
    margin-left: var(--spacing-3) !important;
  }
  .my-md-3{
    margin-top: var(--spacing-3) !important;
    margin-bottom: var(--spacing-3) !important;
  }

  /* m-4 */
  .m-md-4{
    margin: var(--spacing-4) !important;
  }
  .mt-md-4{
    margin-top: var(--spacing-4) !important;
  }
  .mb-md-4{
    margin-bottom: var(--spacing-4) !important;
  }
  .ms-md-4{
    margin-left: var(--spacing-4) !important;
  }
  .me-md-4{
    margin-right: var(--spacing-4) !important;
  }
  .mx-md-4{
    margin-right: var(--spacing-4) !important;
    margin-left: var(--spacing-4) !important;
  }
  .my-md-4{
    margin-top: var(--spacing-4) !important;
    margin-bottom: var(--spacing-4) !important;
  }

  /* m-5 */
  .m-md-5{
    margin: var(--spacing-5) !important;
  }
  .mt-md-5{
    margin-top: var(--spacing-5) !important;
  }
  .mb-md-5{
    margin-bottom: var(--spacing-5) !important;
  }
  .ms-md-5{
    margin-left: var(--spacing-5) !important;
  }
  .me-md-5{
    margin-right: var(--spacing-5) !important;
  }
  .mx-md-5{
    margin-right: var(--spacing-5) !important;
    margin-left: var(--spacing-5) !important;
  }
  .my-md-5{
    margin-top: var(--spacing-5) !important;
    margin-left: var(--spacing-5) !important;
  }

  /* display */
  .d-md-none{
    display: none;
  }
  .d-md-block{
    display: block;
  }
  .d-md-inline{
    display: inline;
  }
  .d-md-flex{
    display: flex;
  }
}

/* lg breakpoint */
@media (width >= 916px) {
  .container {
    margin: 0 var(--container-mx-lg);
  }

  /* cols */
  .col-lg{
    flex: 1 0 0%;
  }
  .col-lg-1{
    flex: 0 0 calc(1/12 * 100%);
  }
  .col-lg-2{
    flex: 0 0 calc(2/12 * 100%);
  }
  .col-lg-3{
    flex: 0 0 calc(3/12 * 100%);
  }
  .col-lg-4{
    flex: 0 0 calc(4/12 * 100%);
  }
  .col-lg-5{
    flex: 0 0 calc(5/12 * 100%);
  }
  .col-lg-6{
    flex: 0 0 calc(6/12 * 100%);
  }
  .col-lg-7{
    flex: 0 0 calc(7/12 * 100%);
  }
  .col-lg-8{
    flex: 0 0 calc(8/12 * 100%);
  }
  .col-lg-9{
    flex: 0 0 calc(9/12 * 100%);
  }
  .col-lg-10{
    flex: 0 0 calc(10/12 * 100%);
  }
  .col-lg-11{
    flex: 0 0 calc(11/12 * 100%);
  }

  /* offsets */
  .offset-lg-1{
    margin-left: calc(1/12 * 100%);
  }
  .offset-lg-2{
    margin-left: calc(2/12 * 100%);
  }
  .offset-lg-3{
    margin-left: calc(3/12 * 100%);
  }
  .offset-lg-4{
    margin-left: calc(4/12 * 100%);
  }
  .offset-lg-5{
    margin-left: calc(5/12 * 100%);
  }
  .offset-lg-6{
    margin-left: calc(6/12 * 100%);
  }
  .offset-lg-7{
    margin-left: calc(7/12 * 100%);
  }
  .offset-lg-8{
    margin-left: calc(8/12 * 100%);
  }
  .offset-lg-9{
    margin-left: calc(9/12 * 100%);
  }
  .offset-lg-10{
    margin-left: calc(10/12 * 100%);
  }
  .offset-lg-11{
    margin-left: calc(11/12 * 100%);
  }

  /* margins */
  /* m-0 */
  .m-lg-0{
    margin: 0 !important;
  }
  .mt-lg-0{
    margin-top: 0 !important;
  }
  .mb-lg-0{
    margin-bottom: 0 !important;
  }
  .ms-lg-0{
    margin-left: 0 !important;
  }
  .me-lg-0{
    margin-right: 0 !important;
  }
  .mx-lg-0{
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .my-lg-0{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  /* m-1 */
  .m-lg-1{
    margin: var(--spacing-1) !important;
  }
  .mt-lg-1{
    margin-top: var(--spacing-1) !important;
  }
  .mb-lg-1{
    margin-bottom: var(--spacing-1) !important;
  }
  .ms-lg-1{
    margin-left: var(--spacing-1) !important;
  }
  .me-lg-1{
    margin-right: var(--spacing-1) !important;
  }
  .mx-lg-1{
    margin-right: var(--spacing-1) !important;
    margin-left: var(--spacing-1) !important;
  }
  .my-lg-1{
    margin-top: var(--spacing-1) !important;
    margin-bottom: var(--spacing-1) !important;
  }

  /* m-2 */
  .m-lg-2{
    margin: var(--spacing-2) !important;
  }
  .mt-lg-2{
    margin-top: var(--spacing-2) !important;
  }
  .mb-lg-2{
    margin-bottom: var(--spacing-2) !important;
  }
  .ms-lg-2{
    margin-left: var(--spacing-2) !important;
  }
  .me-lg-2{
    margin-right: var(--spacing-2) !important;
  }
  .mx-lg-2{
    margin-right: var(--spacing-2) !important;
    margin-left: var(--spacing-2) !important;
  }
  .my-lg-2{
    margin-top: var(--spacing-2) !important;
    margin-bottom: var(--spacing-2) !important;
  }

  /* m-3 */
  .m-lg-3{
    margin: var(--spacing-3) !important;
  }
  .mt-lg-3{
    margin-top: var(--spacing-3) !important;
  }
  .mb-lg-3{
    margin-bottom: var(--spacing-3) !important;
  }
  .ms-lg-3{
    margin-left: var(--spacing-3) !important;
  }
  .me-lg-3{
    margin-right: var(--spacing-3) !important;
  }
  .mx-lg-3{
    margin-right: var(--spacing-3) !important;
    margin-left: var(--spacing-3) !important;
  }
  .my-lg-3{
    margin-top: var(--spacing-3) !important;
    margin-bottom: var(--spacing-3) !important;
  }

  /* m-4 */
  .m-lg-4{
    margin: var(--spacing-4) !important;
  }
  .mt-lg-4{
    margin-top: var(--spacing-4) !important;
  }
  .mb-lg-4{
    margin-bottom: var(--spacing-4) !important;
  }
  .ms-lg-4{
    margin-left: var(--spacing-4) !important;
  }
  .me-lg-4{
    margin-right: var(--spacing-4) !important;
  }
  .mx-lg-4{
    margin-right: var(--spacing-4) !important;
    margin-left: var(--spacing-4) !important;
  }
  .my-lg-4{
    margin-top: var(--spacing-4) !important;
    margin-bottom: var(--spacing-4) !important;
  }

  /* m-5 */
  .m-lg-5{
    margin: var(--spacing-5) !important;
  }
  .mt-lg-5{
    margin-top: var(--spacing-5) !important;
  }
  .mb-lg-5{
    margin-bottom: var(--spacing-5) !important;
  }
  .ms-lg-5{
    margin-left: var(--spacing-5) !important;
  }
  .me-lg-5{
    margin-right: var(--spacing-5) !important;
  }
  .mx-lg-5{
    margin-right: var(--spacing-5) !important;
    margin-left: var(--spacing-5) !important;
  }
  .my-lg-5{
    margin-top: var(--spacing-5) !important;
    margin-bottom: var(--spacing-5) !important;
  }

  /* display */
  .d-lg-none{
    display: none;
  }
  .d-lg-block{
    display: block;
  }
  .d-lg-inline{
    display: inline;
  }
  .d-lg-flex{
    display: flex;
  }
}