*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
  width: fit-content;
  padding: 0;
  color: transparent;
  background: linear-gradient(to right, rgb(6, 142, 31), rgb(0, 13, 156));
  -webkit-background-clip: text;
}
h2{
  color: deeppink;
}
h3{
  color: #564432;
}
h4{
  color: hsl(241, 22%, 39%);
}